#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.foldersDivs {
  border: 2px solid black;
  border-radius: 10px;
  width: 130px;
}

.folderBodyDiv {
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 33%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  min-height: 400px;
  max-height: 400px;
  /* overflow-y: scroll; */
}

.closeButton {
  position: relative;
  top: -190px;
  left: 190px;
  color: lightgray
}